<div class="container">
  <div class="row">
    <div class="col">
      <h1> <%= @task.title %> </h1>
      <button type="button" id="edit" class="btn btn-secondary"><%= link_to "Edit this task", edit_path %></button>
      <p> <%= @task.details %> </p>
      <% if @task.completed %>
        <p><input type="checkbox" checked> This task is completed</p>
      <% else %>
        <p><input type="checkbox"> This task in not completed yet</p>
      <% end %>
      <button type="button" class="btn btn-primary"><%= link_to "Back to the list", tasks_path %></button>
    </div>
  </div>
</div>
